<div class="navbar" >
  <a class= "btn btn-nav" <%= link_to "Add a new cocktail", new_cocktail_path %>>
</div>

<div class="index-banner">
  <h1> Your Cocktail List</h1>
</div>

  <div class="cards">
    <div class= "card1">
      <div class="card1-body">
        <p class="card1-text">Mojito</p>
      </div>
    </div>
    <div class= "card2">
      <div class="card2-body">
        <p class="card2-text">Gin & Tonic</p>
      </div>
    </div>
    <div class= "card3">
      <div class="card3-body">
        <p class="card3-text">Third Drink</p>
      </div>
    </div>
  </div>

<% @cocktails.each do |cocktail| %>
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>






