.index-banner {
  background-image: url("https://images.unsplash.com/photo-1550504549-8e32007a61e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  padding: 150px 0;
  h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 5% 5%;
  }
}

