.navbar {
  justify-content: flex-end;
  background: linear-gradient(to right, #f05053, #e1eec3);
}

.btn-nav {
font-family: 'Source Sans Pro', sans-serif;
color: white;
font-size: 18px;
border: 4px;
background-color: #e15249;
border-radius: 50px;
  &:hover {
    color: black;
}
}



