.navbar {
  justify-content: flex-end;
  background: linear-gradient(to right, #f05053, #e1eec3);
}

.btn-nav {
font-family: 'Source Sans Pro', sans-serif;
color: white;
font-size: 18px;
padding: $spacer ($spacer * 2);
  &:hover {
    color: black;
}
}



